/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #699140;
}

body {
    font-family: Verdana, sans-serif;
}

.header {
    background-color: white;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1vw;
}

.header__left,
.header__center,
.header__right {
    display: flex;
    align-items: center;
}

.header__left {
    margin: 0 0;
    padding: 0 0;
    margin-left: 20px;
}

.header__right {
    margin: 0;
    padding-right: 100px;
    gap: 5%;
    color: #699140;
    overflow: hidden;
}

.header__nav {
    display: flex;
}

.header__title {
    font-size: 5em;
    font-weight: bold;
    margin: 0;
    color: black;
    margin-right: 10vw;
}

.header__center--repo a {
    text-decoration: none;
}

.header__center a {
    text-decoration: none;
    color: black;
}

.dropdown {
    position: relative;
}

.header__dropdown-content {
    display: none;
    position: absolute;
    background-color: #699140;
    min-width: 200px;
    z-index: 1;
}

.header__dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header__dropdown-content a:hover {
    background-color: #f1f1f1;
}

.header__dropbtn:hover+.header__dropdown-content,
.header__dropdown-content:hover {
    display: block;
}
.header__dropbtn:hover{
    background-color: #699140;
    color: white;
}

.header__dropbtn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 1vw;
    font-size: 16px;
    outline: none;
}

.header__icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    margin-right: -5px;
}

/* showcart */
.header-right--repo {
    display: flex;
}

.cart-mini-sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: white;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
}

.cart-mini-sidebar.active {
    right: 0;
}

.cart-mini-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.cart-mini-header-close {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.repo__header {
    display: none;
}

.side-menu {
    display: none;
}

.cart-mini-content {
    padding: 20px;
}

.cart-mini-empty {
    text-align: center;
    color: #666;
}

/* searchbar */
.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.search-input.active {
    width: 195px;
    /* Adjust as needed */
    border-bottom: 1px solid #ccc;
}

.search-icon {
    cursor: pointer;
}

.taskbar {
    overflow: hidden;
    background-color: #f2f2f2;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskbar__link {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

.taskbar__link:hover {
    background-color: #ddd;
    color: black;
}

.overlay-content {
    position: absolute;
    top: 70px;
    left: 100px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: white;
}

/* Landing page and parallax effect */
.landing {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2em;
}

/* Reveal elements on scroll */
.reveal {
    opacity: 0;
    transform: translateY(100px);
    transition: 2s all ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* Slideshow container */
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: white;
}

.cta-button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    text-transform: uppercase;
}

.cta-button:hover {
    background-color: #e65c00;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.container__dot {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 10px 10px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    opacity: 50%;
    background-color: white;
}

.dot.active {
    background-color: white;
    ;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

/* center paper */

center {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* header information LOT */
.header__intro {
    padding: 10% 5%;
}

.header__shopping-section {
    font-family: Arial, sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

}

.header__shopping--title {
    color: #6b8e23;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10%;
}

.header__shopping--intro p {
    color: black;
    line-height: 1.6;
    text-align: center;
    padding: 0 15vw;
}

.header__shopping-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.header__icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width:15vw;
}

.icon {
    width: 20vw;
    height: 20vh;;
}

.header__icon-text {
    font-size: 1em;
    text-align: center;
}

/* center information LOT*/
.center__shopping-section {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.center__product-newIn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.center__product-item {
    position: relative;
    overflow: hidden;
}

.center__product-item img {
    width: 100%;
    height: auto;
    display: block;
}

.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #23275c;
    color: white;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
}

.center__product-item:hover .product-info {
    transform: translateY(0);
}

.product-title {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: white;
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 8px 15px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.view-lot {
    background-color: #ffffff;
    color: #23275c;
}

.add-to-cart {
    background-color: #23275c;
    border: 1px solid white;
}

/* footer */
footer {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer-container {
    display: grid;
    grid-template-columns: (1, 1fr);
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px 20px;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 18px;
    color: #3b3b3b;
    margin-bottom: 10px;
}

.footer-section p {
    color: #666;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #3b3b3b;
}

.footer-section .newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.footer-section .newsletter button {
    padding: 10px 20px;
    background-color: #5caa4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1, 1fr;
}

.footer-bottom a {
    margin: 0 10px;
    color: #3b3b3b;
    text-decoration: none;
}

.footer-bottom .payment-icons img {
    height: 30px;
    margin: 5px 5px;
}

.submit {
    /* cursor: pointer; */
    transition: background-color 0.3s ease;
}

.submit:hover {
    background-color: #005689;
}

/* On smaller screens, decrease text size */
@media (max-width: 768px) {
    body {
        font-size: 10px;
    }

    .header__title {
        font-size: 3em;
        margin: 0;
    }

    .header-icons--repo {
        display: flex;
    }

    /* slideshow */
    .overlay-content {
        position: absolute;
        top: 20px;
        left: 50px;
    }

    .search-icon {
        padding-top: 5px;
    }

    h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: white;
    }

    p {
        margin-bottom: 20px;
        color: white;
    }

    .side-menu {
        display: flex;
        z-index: 1;
        gap: 15vw;
    }

    .dropdown {
        display: none;
    }

    .taskbar__link {
        display: none;
    }

    .taskbar__menu-icon {
        display: block;
    }

    .header__icon {
        display: none;
    }

    .header__center {
        display: none;
    }

    .repo__header {
        display: flex;
        margin: 0 5vw;
        font-size: x-large;
        flex-direction: row;
    }

    nav {
        justify-content: space-between;
        align-items: center;
    }

    .menu-icon {
        background-color: white;
        border: none;
        font-size: 24px;
    }


    #profile-repo,
    #cart-repo,
    #search-repo {
        display: inline-flex;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        z-index: 998;
    }

    .repo__dropdown {
        margin-top: 2vh;
        color: white;
    }

    .side-menu {
        position: fixed;
        top: 0;
        left: -300px;
        width: 300px;
        height: 100%;
        background-color: #699140;
        transition: 0.3s;
        padding: 10px;
        color: white;
        font-size: larger;
        z-index: 1001;
    }

    .side-menu.active {
        left: 0;
    }

    .side-menu ul {
        list-style-type: none;
        padding: 0;
    }

    .side-menu li {
        padding: 10px 0;
        cursor: pointer;
    }

    .side-menu .repo__header__dropdown {
        display: none;
        padding-left: 20px;

    }

    .repo__header__dropdown a {
        text-decoration: none;
        color: white;
    }

    .side-menu .repo__dropdown::before {
        content: '+';
        float: right;
    }

    .side-menu .repo__dropdown.active::before {
        content: '-';
    }

    .social-icons {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .social-icons a {
        margin-right: 10px;
    }

    /* center papers*/

    .center__product-newIn {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
    }
    
    #sofa,#PHOTOGRAPHY,#DRUM{
        height:200px;
    }
    .header__shopping-icons {
        display: flex;
    }
    .product-title {
        font-size: 1em;
        margin-bottom: 5px;
        color: white;
    }

    .product-price {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 5px;
        color: white;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button {
        padding: 0 3px;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 12 px;
    }

    .view-lot {
        background-color: #ffffff;
        color: #23275c;
    }

    .add-to-cart {
        background-color: #23275c;
        border: 1px solid white;
    }
}

/* Back to top button */
#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#back-to-top-btn:hover {
    background-color: #555;
    cursor: pointer;
}